<!-- JavaScript グラフィクスより

インベーダーゲーム

-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>インベーダーゲーム</title>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
    </script>

    <script type="text/javascript"
            src="/assets/javascripts/timeInfo.js"></script>

    <script type="text/javascript"
            src="/assets/javascripts/dhtmlSprite.js"></script>

    <script type="text/javascript"
            src="/assets/javascripts/orbitAssault.js"></script>

    <style type="text/css">
        #draw-target {
            width: 480px;
            height: 384px;
            background-color: #000;
            position: relative;
            color: #fff;
            font-size: 16px;
            font-family: "Courier New", Courier, monospace;
            font-weight: bold;
            letter-spacing: 1px;
        }
    </style>

    <script type="text/javascript">
    </script>
</head>

<body>
<div id="draw-target"></div>
</body>

</html>